@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

html, body {
	// font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-family: 'IBM Plex Mono', monospace;
}


.backgroundPlaying {
	background-image: url('/images/background.jpg');
	background-size: cover;
	background-position: center;
}
